@model RPPP21APP.Models.PlantsReservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlantsReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantsReservationId" />
            <div class="form-group">
                <label asp-for="ReservationId" class="control-label">Number of Reservation</label>
                <input asp-for="ReservationId" class="form-control" readonly />
                <span asp-validation-for="ReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantId" class="control-label">Change plant</label>
                <select asp-for="PlantId" class="form-control" asp-items="ViewBag.PlantId"></select>
                <span asp-validation-for="PlantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Change amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Change price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
