@using RPPP21APP.ViewModels;
@model CreateGroupViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    @Html.HiddenFor(i => i.GroupsOnPlot.PlotId);
    <div class="form-group" style="margin-top:90px">
        <label asp-for="GroupsOnPlot.PlantTime">Plant time</label>
        <input asp-for="GroupsOnPlot.PlantTime" class="form-control" aria-describedby="emailHelp" placeholder="Name">
        <span asp-validation-for="GroupsOnPlot.PlantTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GroupsOnPlot.Quantity">Quantity</label>
        <input asp-for="GroupsOnPlot.Quantity" class="form-control" aria-describedby="emailHelp" placeholder="Quantity">
        <span asp-validation-for="GroupsOnPlot.Quantity" class="text-danger"></span>
    </div>  
    <div class="form group">
        <label asp-for="PlantTypeId">Plant Type</label>
        <select asp-for="PlantTypeId" asp-items="@(new SelectList(Model.PlantTypeList, "PlantTypeId","Type"))" class="form-control form-control">
            <option>Please select one</option>
        </select>
        <span asp-validation-for="PlantTypeList" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>