@model RPPP21APP.Models.HistoricalInfrastructure

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistoricalInfrastructure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InfrastructureId" class="control-label"></label>
                <input asp-for="InfrastructureId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfdestrcution" class="control-label"></label>
                <input asp-for="DateOfdestrcution" class="form-control" />
                <span asp-validation-for="DateOfdestrcution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonOfDestruction" class="control-label"></label>
                <input asp-for="ReasonOfDestruction" class="form-control" />
                <span asp-validation-for="ReasonOfDestruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfDestruction" class="control-label"></label>
                <input asp-for="CostOfDestruction" class="form-control" />
                <span asp-validation-for="CostOfDestruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarningsOnMaterials" class="control-label"></label>
                <input asp-for="EarningsOnMaterials" class="form-control" />
                <span asp-validation-for="EarningsOnMaterials" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
